@media (max-width: 1080px) {
    .hero-content h1 {
        font-size: 3.75rem;
        line-height: 4.5rem;
    }

    #quem-somos h2 {
        width: 90%;
    }

    #quem-somos .equipe {
        width: 69%;
    }
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hero-content h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    #quem-somos .equipe {
        width: 80%;
    }

    #quem-somos .content {
        flex-direction: column;
    }

    #quem-somos h2 {
        width: 70%;
        font-size: 2rem;
        line-height: 3rem;
    }

    #servicos h2 {
        font-size: 3.5rem;
    }  

    #servicos .legenda-servicos {
        font-size: 1.2rem;
    } 

    #servicos .esquerda,
    #servicos .direita {
        flex-direction: column;
        gap: 30px;
    }

    #servicos .esquerda .conteudo-esquerda,
    #servicos .direita .conteudo-direita {
        flex-wrap: wrap;
    }

    #servicos img {
        width: 70%;
    }

    #principios h2 {
        font-size: 3.5rem;
    }

    #principios .legenda-principios {
        font-size: 1.2rem;
    }

    #principios .principios-list {
        flex-direction: column;
        gap: 30px;
    }

    #principios .principios-list div {
        width: 100%;
    }
    #contato h2 {
        font-size: 3.5rem;
    }  

    #contato .legenda-contato {
        font-size: 1.2rem;
    }

    #contato .content {
        flex-direction: column;
    }

    #contato img {
        width: 70%;
    }

    .final-content h2 {
        font-size: 1.8rem;
    }

    .parceiros img {
        width: 100px;
    }

    footer .logo-footer img {
        width: 20%;
    }

    footer .social-media {
        gap: 15px;
    }

    footer .social-media .social-icons .icone {
        font-size: 2rem;
    }
}

@media (max-width:700px) {
    .final-content button {
        margin-top: -70px;
    }
}

@media (max-width:500px) {
    .final-content button {
        padding: 10px 20px;
        margin-top: -50px;
    }
    footer .logo-footer img {
        width: 20%;
    }
}

@media (max-width:455px) {
    .hero-content h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    #servicos img {
        width: 100%;
    }

    #servicos .numeros {
        width: 80%;
        min-width: 85px;
        max-width: 85px;
        max-height: 85px;
        min-height: 85px;
    }

    #principios h2 {
        font-size: 3rem;
    }

    .final-content button {
        margin-top: -40px;
        padding: 10px 30px;
        font-size: 1rem;
    }
}

@media (max-width:375px) {
    #servicos h2, #principios h2 {
        font-size: 2.75rem;
    }
    footer .logo-footer img {
        width: 20%;
    }
}

@media (max-width:345px) {
    .hero-content h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    #quem-somos h2 {
        font-size: 2rem;
        line-height: 3rem;
        width: 100%;
    }

    #quem-somos .equipe {
        width: 100%;
    }

    #servicos .esquerda .conteudo-esquerda .titulo-esquerda h3,
    #servicos .direita .conteudo-direita .titulo-direita h3 {
        gap: 10px;
        font-size: 2rem;
        margin: 20px 0;
        align-self: center;
    }

    #principios h2 {
        font-size: 2.25rem;
    }

    .final-content button {
        padding: 10px 15px;
        font-size: 1rem;
    }

    footer .social-media .social-icons .icone {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 1rem;
    }

    footer .logo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    footer .logo-footer img {
        width: 20%;
    }

    footer .container-interno {
        justify-content: left;
        margin-left: 0;
    }

    footer .social-media {
        flex-direction: row;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .endereco-telefone-footer {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    footer .direitos-reservados {
        border-left: 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        padding: 4%;
        align-items: center;
    }

    footer .menu-footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .menu-footer {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-footer li {
        flex: 1 1 calc(50% - 10px);
        aspect-ratio: 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}