:root {
    --cor-primaria: #FAFAFA;
    --cor-secundaria: #FFE166;
    --cor-terciaria: #334e3f;
    --cor-texto: rgba(2,180,96);
    --cor-branca: #FFFFFF;
    --cor-extra: #969F9E;}
:root {
    --fonte-primaria: 'Anton', sans-serif;
    --fonte-secundaria: "DM Sans", sans-serif;}