<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.almeida-gomes-paisagismo\.vercel\.app$ [NC]
RewriteRule ^(.*)$ https://almeida-gomes-paisagismo.vercel.app/$1 [L,R=301]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]
</IfModule>